<div id="footer-wrapper">
  <div id="footer">
    <div id="footer-menu" class="container">
      <ul>
        <li class="first"><a href="#" accesskey="1" title="">Home</a></li>
        <li><a href="#" accesskey="2" title="">Categories</a></li>
        <li><a href="#" accesskey="3" title="">Brands</a></li>
        <li><a href="#" accesskey="4" title="">My Accounts</a></li>
        <li><a href="#" accesskey="5" title="">Customer Service</a></li>
        <li><a href="#" accesskey="6" title="">Information</a></li>
        <li><a href="#" accesskey="7" title="">Legal</a></li>
        <li><a href="#" accesskey="8" title="">Privacy</a></li>
        <li><a href="#" accesskey="8" title="">Contact</a></li>
      </ul>
    </div>
    <p>Copyright (c) 2010 OnlineStore Inc. All rights reserved.</p>
  </div>
</div>
