<div id="footer-wrapper">
  <div id="footer">
    <div id="footer-menu" class="container">
      <ul>
        <li class="first"><a href="http://github.com/ciscou/cpp" title="source code in github">Echa un vistazo al código fuente de esta página en GitHub</a></li>
        <li><a href="http://es.linkedin.com/pub/francisco-m-pérez-padilla/17/930/9b6" title="linkdin de Francisco M. Pérez Padilla">Desarrollado por Francisco M. Pérez Padilla</a></li>
        <li><a href="http://www.rubyonrails.org.es/" title="powered by ruby on rails">Powered by Ruby on Rails</a></li>
        <li>
          Optimizado para
          <a href="http://www.mozilla.org/en-US/firefox/new/" title="optimized for firefox">Firefox</a> y
          <a href="http://www.google.com/chrome?hl=es" title="optimized for google chrome">Google Chrome</a>
        </li>
      </ul>
    </div>
    <p>Copyright &copy; 2011 Cerámica Padilla Padilla, S.L. Todos los derechos reservados.</p>
  </div>
</div>
