<div id="top-header" class="container">
  <div id="logo">
    <h1><a href="#">BusinessName.com</a></h1>
    <p>Lorem ipsum veroeros</p>
  </div>
  <div id="top-banner">
    <div id="colA">
      <h2>Aliquam nulla blandit</h2>
      <p class="byline">Sit lorem vehicula etiam sed nunc volutpat</p>
      <p class="link"><a href="#">Ipsum dignissim lorem</a></p>
    </div>
    <div id="colB">
      <p>You are not signed in. <a href="#">Sign in now</a>.</p>
      <p><a href="#" class="viewcart">View Cart (3)</a></p>
    </div>
  </div>
</div>
