<div id="sidebar">
  <% if can? :new_arrivals, :products %>
    <div id="box1" class="box-style">
      <div class="title">
        <h2><span>Categorías destacadas</span></h2>
      </div>
      <div class="content">
        <ul>
          <li><%= link_to "Últimas novedades (#{Product.new_arrivals.count})", new_arrivals_products_path %></li>
        </ul>
        <p><%= link_to "Ver todas las categorías", categories_path, :class => "link1" %></p>
      </div>
    </div>
  <% end %>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Categorías</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.all.each do |category| %>
          <li><%= link_to "#{category.name} (#{category.products.accessible_by(current_ability).count} productos)", category_products_path(category) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
