<div id="sidebar">
  <div id="box1" class="box-style">
    <div class="title">
      <h2><span>Categorías destacadas</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to "Últimas novedades (#{Product.new_arrivals.count})", new_arrivals_path %></li>
      </ul>
      <p><%= link_to "Ver todas las categorías", categories_path, :class => "link1" %></p>
    </div>
  </div>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Otras categorías</span></h2>
    </div>
    <div class="content">
      <ul>
        <% Category.order(:position).all.each do |category| %>
          <li><%= link_to "#{category.name} (#{category.products.accessible_by(current_ability).count} productos)", category_products_path(category) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
