<div id="sidebar">
  <div id="box1" class="box-style">
    <div class="title">
      <h2><span>Categories</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><a href="#">Aliquam sit lorem nunc nisl</a></li>
        <li><a href="#">Velit vivamus volutpat quam dui</a></li>
        <li><a href="#">Vestibulum fusce tor pharetra</a></li>
        <li><a href="#">Elit in volutpat et tempor praesent</a></li>
        <li><a href="#">Vehicula a lacus fringilla</a></li>
        <li><a href="#">Cubilia lorem blandit dolor</a></li>
        <li><a href="#">Aliquam sit tempor lorem nunc nisl</a></li>
        <li><a href="#">Velit vivamus quam dui</a></li>
        <li><a href="#">Vestibulum fusce tor pharetra</a></li>
        <li><a href="#">Elit in volutpat tempor praesent</a></li>
        <li><a href="#">Vehicula lorem lacus fringilla</a></li>
      </ul>
      <p><a href="#" class="link1">More categories&#8230;</a></p>
    </div>
  </div>
  <div id="box2" class="box-style">
    <div class="title">
      <h2><span>Popular Categories</span></h2>
    </div>
    <div class="content">
      <ul>
        <li><a href="#">Aliquam sit lorem nunc nisl</a></li>
        <li><a href="#">Velit vivamus volutpat quam dui</a></li>
        <li><a href="#">Vestibulum fusce tor pharetra</a></li>
        <li><a href="#">Elit in volutpat et tempor praesent</a></li>
        <li><a href="#">Vehicula a lacus fringilla etiam</a></li>
        <li><a href="#">Cubilia lorem blandit dolor</a></li>
        <li><a href="#">Aliquam sit tempor lorem nunc nisl</a></li>
        <li><a href="#">Velit vivamus quam dui et lorem</a></li>
        <li><a href="#">Consequat etiam lorem ipsum</a></li>
      </ul>
    </div>
  </div>
</div>
