<%= title "Elaboración de un botijo" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Elaboración de un botijo</span></h2>
  </div>
  <div class="content">
    <h3>Moldeado a mano en el torno</h3>
    <iframe width="480" height="360" src="http://www.youtube.com/embed/4W_d8DsvUVk" frameborder="0" allowfullscreen></iframe>
    <p>Uno de nuestros artesanos elabora el botijo al estilo tradicional con la ayuda de un torno.</p>
  </div>
</div>
