<%= title "No se encuentra" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>No se encuentra</span></h2>
  </div>
  <div class="content">
    <p>Lo sentimos, la página que ha solicitado no existe.</p>
    <p>Puede usar el menú superior, el buscador, o el menú de la izquierda para continuar navegando por nuestra web.</p>
    <p>Disculpe las molestias ocasionadas.</p>
  </div>
</div>
