<div id="gallery" class="galleriffic">
  <div id="controls" class="controls"></div>
  <div class="slideshow-container">
    <div id="loading" class="loader"></div>
    <div id="slideshow" class="slideshow"></div>
  </div>
  <div id="caption" class="caption-container"></div>
</div>
<div id="thumbs" class="navigation">
  <ul class="thumbs noscript">
    <% Product.all.each do |product| %>
      <li>
        <%= link_to image_tag(product.picture.thumb.url, :alt => product.name), product.picture.url, :class => "thumb", :title => product.name, :name => product.to_param %>
        <div class="caption">
          <div class="download">
            <%= link_to "Download Original", product.picture.url %>
          </div>
          <div class="image-title"><%= product.name %></div>
          <div class="image-desc"><%= simple_format product.description %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div style="clear: both;"></div>
