<div id="two-columns">
	<div id="column1">
		<div id="box3" class="box-style">
			<div class="title">
				<h2><span>Feature Products</span></h2>
			</div>
			<div class="item-box">
				<p><img src="/assets/subpage1_01.jpg" width="132" height="132" alt="" class="alignleft"/></p>
				<h2><a href="#">Aliquam Lorem Amet Lacus</a></h2>
				<p>Fusce vitae sapien sed ipsum hendrerit dignisim. Lorem ipsum dolor at tellus.</p>
				<div class="details">
					<p class="left">$249<sup>99</sup></p>
					<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
				</div>
			</div>
			<div class="item-box">
				<p><img src="/assets/subpage1_02.jpg" width="132" height="132" alt="" class="alignleft"/></p>
				<h2><a href="#">Aliquam Lorem Amet Lacus</a></h2>
				<p>Fusce vitae sapien sed ipsum hendrerit dignisim. Lorem ipsum dolor at tellus.</p>
				<div class="details">
					<p class="left">$499<sup>99</sup></p>
					<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
				</div>
			</div>
			<div class="item-box">
				<p><img src="/assets/subpage1_03.jpg" width="132" height="132" alt="" class="alignleft"/></p>
				<h2><a href="#">Aliquam Lorem Amet Lacus</a></h2>
				<p>Fusce vitae sapien sed ipsum hendrerit dignisim. Lorem ipsum dolor at tellus.</p>
				<div class="details">
					<p class="left">$99<sup>99</sup></p>
					<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
				</div>
			</div>
			<div class="content">
				<p><a href="#" class="link1">More featured products&#8230;</a></p>
			</div>
		</div>
	</div>
	<div id="column2">
		<div id="banner"><a href="#"><img src="/assets/homepage11.jpg" width="250" height="180" alt="" /></a></div>
		<div id="box4" class="box-style">
			<div class="title">
				<h2><span>Lorem Ipsum</span></h2>
				<div class="content">
					<ul>
						<li>
							<h3><a href="#">Aliquam sit tempor lorem</a></h3>
							<p>Fusce vitae sapien sed ipsum hendrerit dignissim. Lorem ipsum dolor at tellus.</p>
						</li>
						<li>
							<h3><a href="#">Aliquam sit tempor lorem</a></h3>
							<p>Morbi ac posuere massa. Pellentesque mi tortor, pulvinar ac dapibus et, sodales vitae sem. Curabitur viverra pulvinar molestie. Vestibulum posuere.</p>
						</li>
						<li>
							<h3><a href="#">Nullam tempus lorem ipsum</a></h3>
							<p>Tortor pulvinar ac dapibus et, sodales vitae sem. Curabitur viverra pulvinar molestie. Vestibulum posuere.</p>
						</li>
					</ul>
					<p><a href="#" class="link1">More categories&#8230;</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="box5" class="box-style">
	<div class="title">
		<h2><span>Blandit tempus aliquam</span></h2>
	</div>
	<div class="content"><img src="/assets/homepage12.jpg" width="132" height="117" alt="" class="alignleft" />
		<h3>Nullam tempus lorem ipsum</h3>
		<p>Morbi ac posuere massa. Pellentesque mi tortor, pulvinar ac dapibus et, sodales vitae sem. Curabitur commodo ac aliquam quis, mollis sed tortor. Ut quis malesuada nibh. Mauris sodales, urna vel convallis commodo, leo lorem mattis enim, convallis auctor ipsum sem in elit.</p>
		<p><a href="#" class="link2">More articles&#8230;</a></p>
	</div>
</div>
