<% title "How we work?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>How we work?</span></h2>
  </div>
  <div class="content">
    <% %w[1 ANA JUANJO maria _MG_0390 _MG_0397 paqui POMELO TAMIA_1 zocueca].each do |image| %>
      <p>
        <%= image_tag "como-trabajamos/#{image}.jpg" %>
      </p>
    <% end %>
  </div>
</div>
