<% title "¿Cómo trabajamos?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>¿Cómo trabajamos?</span></h2>
  </div>
  <div class="content">
    <% how_we_work_images.each do |image| %>
      <p>
        <%= image_tag "como-trabajamos/#{image}.jpg" %>
      </p>
    <% end %>
  </div>
</div>
