<div id="box6" class="box-style">
	<div class="title">
		<h2><span>Blandit tempus aliquam</span></h2>
	</div>
	<div class="content">
		<p>Morbi ac posuere massa. Pellentesque mi tortor, pulvinar ac dapibus et, sodales vitae sem. Curabitur commodo ac aliquam quis, mollis sed tortor. Ut quis malesuada nibh. Mauris sodales, urna vel convallis commodo, leo lorem mattis enim, convallis auctor ipsum sem in elit. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Sed ac leo. Pellentesque imperdiet.</p>
		<p>&nbsp;</p>
	</div>
	<div class="item-box">
		<p><img src="images/subpage1_01.jpg" width="132" height="132" alt="" class="alignleft"/></p>
		<h2><a href="#">Aliquam Lorem Amet Lacus</a></h2>
		<p>Fusce vitae sapien sed ipsum hendrerit dignissim. Lorem ipsum dolor at tellus. onec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit oacis lorem. </p>
		<div class="details">
			<p class="left">$249<sup>99</sup></p>
			<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
		</div>
	</div>
	<div class="item-box">
		<p><img src="images/subpage1_02.jpg" width="132" height="132" alt="" class="alignleft"/></p>
		<h2><a href="#">Volutpat Pharetra</a></h2>
		<p>Fusce vitae sapien sed ipsum hendrerit dignissim. Lorem ipsum dolor at tellus. onec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit oacis lorem. </p>
		<div class="details">
			<p class="left">$499<sup>99</sup></p>
			<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
		</div>
	</div>
	<div class="item-box">
		<p><img src="images/subpage1_03.jpg" width="132" height="132" alt="" class="alignleft"/></p>
		<h2><a href="#">Ultricies Sed Fusce</a></h2>
		<p>Fusce vitae sapien sed ipsum hendrerit dignissim. Lorem ipsum dolor at tellus. onec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit oacis lorem. </p>
		<div class="details">
			<p class="left">$99<sup>99</sup></p>
			<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
		</div>
	</div>
	<div class="item-box">
		<p><img src="images/subpage1_01.jpg" width="132" height="132" alt="" class="alignleft"/></p>
		<h2><a href="#">Aliquam Lorem Amet Lacus</a></h2>
		<p>Fusce vitae sapien sed ipsum hendrerit dignissim. Lorem ipsum dolor at tellus. onec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit oacis lorem. </p>
		<div class="details">
			<p class="left">$249<sup>99</sup></p>
			<p class="right"><a href="#" class="addcart">Add To Cart</a></p>
		</div>
	</div>
</div>
