<%= title "Decoración de maceta a pincel" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Decoración de maceta a pincel</span></h2>
  </div>
  <div class="content">
    <h3>Decoración a mano de una maceta</h3>
    <iframe width="480" height="360" src="http://www.youtube.com/embed/tJgx6FOBuS4" frameborder="0" allowfullscreen></iframe>
    <p>Una de nuestras pintoras decora a mano una maceta con un pincel.</p>
  </div>
</div>
