<%= title "¿Dónde estamos?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>¿Dónde estamos?</span></h2>
  </div>
  <div class="content">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=38.090762,-3.78553&amp;num=1&amp;vpsrc=6&amp;sll=38.093042,-3.780993&amp;sspn=0.006815,0.01472&amp;doflg=ptk&amp;ie=UTF8&amp;ll=38.090653,-3.785541&amp;spn=0.014389,0.027595&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    <br />
    <a href="http://maps.google.com/maps?q=38.090762,-3.78553&amp;num=1&amp;vpsrc=6&amp;sll=38.093042,-3.780993&amp;sspn=0.006815,0.01472&amp;doflg=ptk&amp;ie=UTF8&amp;ll=38.090653,-3.785541&amp;spn=0.014389,0.027595&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a>
  </div>
</div>
