<%= title "Where are we?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Where are we?</span></h2>
  </div>

  <div class="content">

    <p>
      You will be able to find us in the following address:
    </p>
    <p>
      Cerámica Padilla Padilla<br/>
      Carretera Madrid Cádiz, km 297<br/>
      23710 Bailén (Jaén)<br/>
      SPAIN
    </p>

    <iframe
      width="640"
      height="480"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="http://maps.google.es/maps?q=Cer%C3%A1mica+Padilla+Padilla,+carretera+Madrid+C%C3%A1diz+km+297,+23710+Bail%C3%A9n,+Ja%C3%A9n%4038.090602,-3.785536&hl=es&ie=UTF8&ll=38.094376,-3.785863&spn=0.020366,0.038581&sll=38.090864,-3.785563&sspn=0.010183,0.01929&vpsrc=6&t=m&z=15&output=embed"
    >
    </iframe>

    <br />

    <small>
      <a
        href="http://maps.google.es/maps?q=Cer%C3%A1mica+Padilla+Padilla,+carretera+Madrid+C%C3%A1diz+km+297,+23710+Bail%C3%A9n,+Ja%C3%A9n%4038.090602,-3.785536&hl=es&ie=UTF8&ll=38.094376,-3.785863&spn=0.020366,0.038581&sll=38.090864,-3.785563&sspn=0.010183,0.01929&vpsrc=6&t=m&z=15&source=embed"
        style="color:#0000FF;text-align:left"
      >
        View larger map
      </a>
    </small>

  </div>

</div>
