<%= title "¿Quienes somos?" %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>¿Quiénes somos?</span></h2>
  </div>
  <div class="content">
    <p>Cerámica Padilla Padilla es una fábrica artesana de Bailén, de padres a hijos, ahora en su quinta generación, durante más de 200 años en la fabricación de cerámica artística para diferentes usos.</p>
    <p>Actualmente provee el mercado nacional e internacional,  satisfaciendo ampliamente con sus tres gamas cualquier necesidad. Asimismo la disponibilidad para realizar trabajos especiales, exclusivos y personalizados.</p>
    <ul>
      <li><strong>MENAJE</strong> Artículos de cocina y mesa decorados a mano.</li>
      <li><strong>CULINARIO</strong> Cazuelas y piezas para cocinar, resistentes al fuego, horno y microondas.</li>
      <li><strong>JARDINERIA</strong> Macetas de interior y exterior pintadas manualmente.</li>
    </ul>
  </div>
</div>
