<% flash.each do |k, v| %>
  <% level = { notice: :success, alert: :alert }[k] %>
  <div data-alert class="alert-box radius <%= level %>">
    <%= v %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<div data-alert id="mobile-announcement" class="alert-box radius info">
  <strong><%= t ".mobile_announcement.title" %></strong>
  <%= t ".mobile_announcement.message_html", desktop_version: link_to(t(".mobile_announcement.desktop_version"), params.merge(mobile: 0)) %>
  <a href="#" class="close">&times;</a>
</div>
