<li>
  <%= link_to product.picture_url, class: "th radius", data: { hash: product.to_param } do %>
    <%= image_tag product.picture_url(:thumb), alt: product.name, data: { caption: escape_once(render("caption", product: product)) } %>
  <% end %>
</li>
