<% title       products_index_title       @category, @decoration, params[:q].presence %>
<% description products_index_description @category, @decoration, params[:q].presence %>

<h2><%= products_index_title(@category, @decoration, params[:q].presence) %></h2>

<% if @products.any? %>
  <ul id="products" class="clearing-thumbs" data-clearing>
    <%= render @products %>
  </ul>
<% else %>
  <p><%= products_index_nothing_found @category, @decoration, params[:q].presence %></p>
<% end %>
