html, body {
	height: 100%;
}

html {
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(/assets/bg1_01.jpg) repeat-x left top;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #696969;
}

h1, h2, h3 {
	margin-top: 0px;
}

ol, ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	/* margin-top: 0px; */
}

strong {
	color: #323232;
}

a {
	color: #FF0900;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	padding-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

ul.style1 {
	margin: 0px;
	padding: 0px 0px 20px 30px;
}

ul.style1 li {
	background: none;
	padding: 2px 0px;
}

ul.style1 li a {
	color: #FF0900;
}

ol.style2 {
	margin: 0px;
	padding: 0px 0px 20px 40px;
	list-style: decimal;
}

ol.style2 li {
	background: none;
	margin: 0px;
	padding: 2px 0px;
}

/** WRAPPER */

#wrapper {
	background: url(/assets/bg1_03.jpg) no-repeat center top;
}

#wrapper-bgbtm {
	background: url(/assets/bg1_04.jpg) no-repeat center bottom;
}

.container {
	width: 950px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#top-header {
	height: 155px;
	padding-top: 95px;
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 250px;
	height: 155px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-indent: -9999em;
}

#logo h1 a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 250px;
	height: 155px;
	background: url(/assets/homepage01.jpg) no-repeat left top;
}

/** TOP BANNER */

#top-banner {
	float: right;
	width: 470px;
	height: 155px;
	margin: 0px;
	padding: 0px 40px 0px 190px;
}

#top-banner #colA {
	float: left;
	width: 270px;
	margin-top: 40px;
	color: #929292;
}

#top-banner #colA h2 {
	margin: 0px;
	padding: 40px 0px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 19px;
	font-weight: bold;
	color: #3E3E3E;
}

#top-banner #colA .byline {
	margin: 0px;
	padding: 0px 0px 14px 0px;
	font-size: 12px;
	color: #929292;
}

#top-banner #colA .link {
	height: 20px;
	margin: 0px;
	padding: 0px 0px 0px 25px;
	background: url(/assets/homepage02.gif) no-repeat left top;
	font-size: 14px;
	color: #DA0900;
}

#top-banner #colB {
	float: right;
	width: 200px;
	margin-top: 50px;
	text-align: center;
	color: #696969;
}

#top-banner #colB a {
	color: #FF0900;
}

#top-banner #colB .viewcart {
	display: inline-block;
	width: 118px;
	height: 25px;
	padding: 8px 0px 0px 10px;
	background: url(/assets/homepage03.jpg) no-repeat left top;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/** HEADER */

#header {
	height: 63px;
}

/** MENU */

#menu {
	float: left;
	width: 680px;
	height: 63px;
}

#menu ul {
	margin: 0px;
	padding: 17px 0px 0px 25px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu span {
	float: left;
	display: block;
	height: 35px;
	padding-top: 6px;
}

#menu a {
	display: block;
	float: left;
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu li.active {
	background: url(/assets/subpage4_01.gif) no-repeat left top;
}

#menu li.active a {
	background: url(/assets/subpage4_03.gif) no-repeat right top;
}

#menu li.active span {
	background: url(/assets/subpage4_02.gif) no-repeat center bottom;
}

/** SEARCH */

#search {
	float: right;
	width: 270px;
	height: 63px;
}

#search form, #search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search form {
	padding: 19px 0px 0px 30px;
}

#search input {
	float: left;
	margin: 0px;
	padding: 0px;
}

#search .input-text {
	width: 175px;
	margin: 0px;
	padding: 7px 0px 0px 0px;
	background: none;
	border: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #929292;
}

#search .input-submit {
  position: absolute;
  right: 9999px;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 20px 0px;
}

/** CONTENT */

#content {
	float: right;
	width: 690px;
}

.single #content {
	width: 100%;
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 250px;
}

/** FOOTER */

#footer-wrapper {
	background: url(/assets/bg1_02.jpg) repeat-x left top;
}

#footer {
	height: 234px;
	background: url(/assets/bg1_05.jpg) no-repeat center top;
}

#footer-menu {
	height: 91px;
}

#footer p {
	margin: 0px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	color: #575757;
}

#footer ul {
	margin: 0px;
	padding: 37px 0px 0px 0px;
	list-style: none;
	text-align: center;
}

#footer li {
	display: inline;
	padding: 0px 15px;
	background: url(/assets/homepage14.jpg) no-repeat left 2px;
}

#footer li a {
	color: #888888;
}

#footer .first {
	background: none;
}

/** TWO COLUMNS */

#two-columns {
	overflow: hidden;
	width: 690px;
}

#two-columns #column1 {
	float: left;
	width: 430px;
}

#two-columns #column2 {
	float: right;
	width: 250px;
}

/** BOX5, BOX7 */

#box5 .content, #box7 .content {
	padding-top: 10px;
}

#box5 .content p, #box7 .content {
	line-height: 140%;
}

/** BOX STYLES */

.box-style {
	padding-bottom: 10px;
}

.box-style .title {
	background: url(/assets/homepage04.jpg) repeat-x left top;
}

.box-style h2 {
	background: url(/assets/homepage05.jpg) no-repeat left top;
}

.box-style h2 span {
	display: block;
	height: 36px;
	margin: 0px;
	padding: 14px 25px 0px 25px;
	background: url(/assets/homepage06.jpg) no-repeat right top;
	font-size: 14px;
	font-weight: bold;
	color: #323232;
}

.box-style h3 {
	margin: 0px;
	padding: 8px 0px;
	font-size: 11px;
	font-weight: bold;
	color: #323232;
}

.box-style h3 a {
	color: #323232;
}

.box-style .content {
	padding: 0px 25px;
}

.box-style a {
	color: #696969;
}

.box-style li {
	padding: 7px 0px 12px 0px;
	background: url(/assets/homepage07.jpg) repeat-x left bottom;
}

.box-style .link1 {
	display: block;
	margin: 30px 0px 10px 0px;
	padding: 1px 0px 5px 25px;
	background: url(/assets/homepage08.gif) no-repeat left top;
	color: #FF0900;
}

.box-style .link2 {
	display: inline-block;
	margin: 10px 0px 10px 0px;
	padding: 1px 0px 5px 20px;
	background: url(/assets/homepage13.gif) no-repeat left 2px;
	color: #FF0900;
}

.box-style p {
	/* margin: 0px; */
	padding: 0px 0px 12px 0px;
}

/** ITEM BOX */

.item-box {
	overflow: hidden;
	width: 380px;
	margin-bottom: 20px;
	padding: 0px 25px 20px 25px;
	background: url(/assets/homepage10.jpg) no-repeat left bottom;
}

.listings .item-box {
	width: 640px;
	background: url(/assets/subpage1_04.gif) no-repeat left bottom;
}

.details .item-box {
	width: 640px;
	margin-bottom: 0px;
	background: none;
}

.item-box p {
	/* margin: 0px; */
	padding: 0px;
}

.item-box .addcart {
	display: inline-block;
	width: 90px;
	height: 25px;
	margin: 10px 0px;
	padding: 8px 0px 0px 15px;
	background: url(/assets/homepage09.gif) no-repeat left top;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.item-box .price {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	font-weight: bold;
}

.item-box h2 {
	margin: 0px 0px 10px 0px;
	padding-top: 15px;
	background: none;
	font-size: 14px;
	font-weight: bold;
}

.item-box h2 a {
	color: #323232;
}

.item-box .alignleft {
	float: left;
	padding-right: 15px;
}

.item-box sup {
	font-size: 14px;
	font-weight: bold;
}

.item-box .details {
	padding-top: 10px;
}

.listings .item-box .details {
	display: inline-block;
	width: 240px;
}

.details .item-box .details {
	display: inline-block;
	width: 240px;
}

.item-box .left {
	float: left;
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #323232;
}

.item-box .right {
	float: right;
}

/** CONTENT BANNER */

#banner {
	margin-bottom: 20px;
}

div.field_with_errors {
  display: inline;
  color: #FF0900;

  input {
    border-color: #FF0900;
  }
}

div#error_explanation,
div.notice,
div.alert {
  padding: 5px;
  margin-bottom: 15px;
}

div#error_explanation,
div.alert {
  border: 1px solid #FF0900;
  background-color: #ffaaaa;
}

div.notice {
  border: 1px solid green;
  background-color: #aaffaa;
}

nav.pagination {
  margin-left: 25px;
}

nav.pagination span {
  border: 1px solid #FF0900;
  display: block;
  float: left;
  padding: 3px 6px;
  margin-right: 3px;
  color: #FF0900;
  font-weight: bold;

  a {
    color: #FF0900;
  }
}

nav.pagination span.current {
  background-color: #FF0900;
  color: white;

  a {
    color: white;
  }
}
