<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Editar categoría</span></h2>
  </div>
  <div class="content">
    <%= render 'form' %>
    <%= link_to 'Volver', categories_path %>
  </div>
</div>
