<div id="box6" class="box-style">

  <div class="title">
    <h2><span>Categorías</span></h2>
  </div>

  <div class="content">
    <p>Actualmente disponemos de <%= Product.count %> productos, clasificados en <%= Category.count %> categorías.</p>
    <p>Seleccione una de las siguientes categorías para ver un listado de sus productos</p>
  </div>

  <%= render @categories, :picture_version => :thumb %>

</div>

<% if admin_signed_in? %>
  <%= link_to 'New Category', new_category_path %>
<% end %>
