<% title @category.name %>

<div id="box7" class="box-style">
  <div class="title">
    <h2><span>Blandit tempus aliquam</span></h2>
  </div>
  <%= render @category, :picture_version => nil %>
  <div class="content">
    <%= simple_format @category.description %>
  </div>
</div>
