<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su contraseña, y puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no lo ha solicitado, por favor ignore este correo electrónico.</p>
<p>Su contraseña no se cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
